<!DOCTYPE html>
<html>
<head>
<title>厂区拓扑</title>
#parse("sys/header.html")
</head>
<body>
	<script src="../resources/sys/statics/plugins/net/factoryNet.js"></script>
	<div id="rrapp">
		<div class="grid-btn" style="margin-top: 10px;margin-bottom: 10px">
			<div class="form-inline" role="form">							
				<a href="javascript:;" class="btn btn-info btn-2x"
					@click="showInsert"> <span class="glyphicon glyphicon-plus"></span>新增设备
				</a> 
				<a href="javascript:;" class="btn btn-info btn-2x"
					@click="showRemoveNode"> <span class="glyphicon glyphicon-minus"></span>删除设备
				</a>
				 <a href="javascript:;" class="btn btn-info btn-2x"
					@click="showInsertLink"> <span class="glyphicon glyphicon-plus"></span>新增链路
				</a> 
				 <a href="javascript:;" class="btn btn-info btn-2x"
					@click="showRemoveLink"> <span class="glyphicon glyphicon-minus"></span>删除链路
				</a>
				<a href="javascript:;" class="btn btn-info btn-2x"
					@click="printSvg"> <span class="glyphicon glyphicon-export"></span>导出
				</a> 
				<a href="javascript:;" class="btn btn-info btn-2x"
					@click="save"> <span class="glyphicon glyphicon-floppy-save"></span>保存
				</a> 
			</div>
		</div>
		
		<div class="modal fade" id="editModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title">新增设备</h4>
					</div>
					<div class="modal-body">
						<div class="container" role="form"
							style="width: 70%; height: 250px">

							<div class="form-inline">
							
								<div class="col-sm-12" style="padding-left: 0px;">
															
									<div class="form-inline">
										<label>新设备名:</label><input type="text" placeholder="必填" v-model="link.source" class="form-control" style="width: 180px;" maxlength="15">
									</div><br>
									<div class="form-inline">
									
									<div class="form-inline">
										<label>源设备名:</label><input type="text" placeholder="若不填写则不生成连线" v-model="link.target" class="form-control" style="width: 180px;" maxlength="15">
									</div>	<br>
									
									<label>类&nbsp;&nbsp;&nbsp;&nbsp;型&nbsp;&nbsp;:</label>
										<select v-model="type"  class="form-control">
											<option value="0" selected="selected">请选择</option>
                							<option value="1">路由器</option>
                							<option value="2">主机</option>
                							<!-- <option value="3">区域</option> -->
             							 </select>
									</div><br>							
								</div>
					</div>

						</div>
					</div>
					<div class="modal-footer">

						<button type="button" class="btn btn-green" @click="insertNode">确定</button>
					</div>
				</div>
			</div>
		</div>
		
		<div class="modal fade" id="removeModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">Close</button>
						<h4 class="modal-title">删除设备</h4>
					</div>
					<div class="modal-body">
						<div class="container" role="form"
							style="width: 70%; height: 250px">

							<div class="form-inline">
							
								<div class="col-sm-12" style="padding-left: 0px;">
								
								<div class="col-sm-12" style="left: -100px;">
										<a href="javascript:;" @click="insert('removeNode')"> <span
											class="glyphicon glyphicon-plus-sign"></span>新增
										</a>
									</div><br>
									<ul class="list-group" id="removeNode">
										<li class="list-group-item" style="width: 300px;margin-left:50px;display:none;" ><label
											class="control-label">设备名:</label> <input type="text"
											class="form-control" style="width: 120px;" name="nodeName"/> <label>
												<span class="glyphicon glyphicon-minus-sign"
												style="cursor: pointer; color: #337ab7;"
												title="删除" @click="del">删除</span><br>
										</label></li>	
									</ul>

								</div>
					</div>

						</div>
					</div>
					<div class="modal-footer">

						<button type="button" class="btn btn-green" @click="removeNode">确定</button>
					</div>
				</div>
			</div>
		</div>
		
		<div class="modal fade" id="removeLink" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">Close</button>
						<h4 class="modal-title">{{title}}</h4>
					</div>
					<div class="modal-body">
						<div class="container" role="form"
							style="width: 70%; height: 250px">

							<div class="form-inline">
							
								<div class="col-sm-12" style="padding-left: 0px;">
								
								<div class="col-sm-12" style="left: -100px;">
										
									</div><br>
									<label class="control-label">链路:</label> 
										<input type="text" placeholder="源设备名" class="form-control" style="width: 120px;" name="linkIp"/>—
										<input type="text" placeholder="目的设备名" class="form-control" style="width: 120px;" name="linkIp"/> 
								

								</div>
					</div>

						</div>
					</div>
					<div class="modal-footer">

						<button type="button" class="btn btn-green" @click="editLink">确定</button>
					</div>
				</div>
			</div>
		</div>
	</div>

<script src="../resources/sys/js/sys/factoryTapu.js"></script>
</body>
</html>